<h1>Listing fillups</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Location</th>
      <th>Number of gallons</th>
      <th>Miles since last fillup</th>
      <th>Price per gallon</th>
      <th>Car</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fillups.each do |fillup| %>
      <tr>
        <td><%= fillup.date %></td>
        <td><%= fillup.location %></td>
        <td><%= fillup.number_of_gallons %></td>
        <td><%= fillup.miles_since_last_fillup %></td>
        <td><%= fillup.price_per_gallon %></td>
        <td><%= fillup.car.make %> <%= fillup.car.model %></td>
        <td><%= link_to 'Show', fillup %></td>
        <td><%= link_to 'Edit', edit_fillup_path(fillup) %></td>
        <td><%= link_to 'Destroy', fillup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fillup', new_fillup_path %>
