<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @fillup.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @fillup.location %>
</p>

<p>
  <strong>Number of gallons:</strong>
  <%= @fillup.number_of_gallons %>
</p>

<p>
  <strong>Miles since last fillup:</strong>
  <%= @fillup.miles_since_last_fillup %>
</p>

<p>
  <strong>Price per gallon:</strong>
  <%= @fillup.price_per_gallon %>
</p>

<p>
  <strong>Car:</strong>
  <%= @fillup.car_id %>
</p>

<%= link_to 'Edit', edit_fillup_path(@fillup) %> |
<%= link_to 'Back', fillups_path %>
